<ng-container *ngIf="todos | keyvalue | done: status as filterd">
  <h3 *ngIf="filterd.length">{{ status ? doneLabel : inProcessLabel }} {{ filterd.length }}</h3>
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let todo of filterd">
      <mat-checkbox color="primary" [checked]="todo.value" (change)="changeStatus(todo)">{{ todo.key }}</mat-checkbox>
      <button mat-icon-button (click)="remove(todo.key)"><mat-icon color="warn">delete</mat-icon></button>
    </mat-list-item>
  </mat-list>
</ng-container>
