<h1>{{ headline | uppercase }}</h1>

<input type="text" [formControl]="form" />
<button (click)="add()" *ngIf="!!form.value">追加</button>
<h2>登録数 {{ todos.size }}</h2>

<ul>
  <ng-container *ngFor="let category of categories">
    <ng-container *ngIf="todos | keyvalue | done: category.status as filterd">
      <h3>{{ category.title }} {{ filterd.length }}</h3>
      <li *ngFor="let todo of filterd">
        <input type="checkbox" [checked]="todo.value" (click)="changeStatus(todo)" />
        <span>{{ todo.key }}</span>
      </li>
    </ng-container>
  </ng-container>
</ul>
